extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/libro/crud/delete_registrar", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="libroid") ID
          .col-xs-12.col-sm-10
            input#name.form-control(name="libroid")
        button.btn.btn-default.pull-right Eliminar libro
    .col-xs-12.col-md-4