extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/libro/crud/create_registrar", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="titulo") Titulo
          .col-xs-12.col-sm-10
            input#name.form-control(name="titulo")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="Autor") Autor
          .col-xs-12.col-sm-10
            input#name.form-control(name="autor")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="paginas") Paginas
          .col-xs-12.col-sm-10
            input#name.form-control(name="paginas")
        button.btn.btn-default.pull-right Crear libro
    .col-xs-12.col-md-4