extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/upload_enviar", method="post", role="form", enctype="multipart/form-data")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="descripcion") Descripcion
          .col-xs-12.col-sm-10
            input#name.form-control(name="descripcion")
          label.col-xs-10.col-sm-2.control-label(for="archivo") Archivo
          .col-xs-12.col-sm-10
            input(type="file", name="archivo")
        button.btn.btn-default.pull-right Enviar archivo
    .col-xs-12.col-md-4